@import "./styles";
@import "./components/variables";

main {
    margin-top: 20vh;
    h1 {
        font-weight: 700;
        font-size: 72px;
        color: #fff;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        a {
            color: $red-color;

            &:visited {
                color: #a31337;
            }
        }
    }
}

[alt="documentation"] {
    position: absolute;
    bottom: 0;
    right: 5vw;
    width: 30%;
}

@media screen and(max-width:400px) {
    html,
    body {
        overflow-y: hidden;
    }
    main {
        h1 {
            font-size: 36px;
            font-weight: 500;
        }
        p {
            font-size: 14px;
            font-weight: 400;
            max-width: 90%;
        }
    }

    [alt="documentation"] {
        position: absolute;
        bottom: 58px;
        right: 5vw;
        width: 60%;
    }
}
