@import "./styles.scss";
@import "./components/variables";

main {
    margin-top: 20vh;
    h1 {
        font-weight: 700;
        font-size: 72px;
        color: #fff;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        a {
            color: $red-color;

            &:visited {
                color: #a31337;
            }
        }
    }
}

[alt="documentation"] {
    position: absolute;
    bottom: 0;
    right: 5vw;
    width: 30%;
}
