@import "./styles";
@import "./components/resetLinks";
@import "./components/variables";
main {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .heading-content-phone {
        display: none;
    }

    .heading-content {
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 10vh;

        h3 {
            font-weight: 600;
            font-size: 24px;
            color: #fff;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.52);

            a {
                @include resetLink;
                color: rgba($color: $red-color, $alpha: 0.52);
            }
        }
    }

    .content {
        grid-column: 1/2;
        grid-row: 2/3;
        h2 {
            font-weight: 700;
            font-size: 36px;
            color: #fff;
        }

        ul {
            list-style: none;
            margin-top: 2rem;

            a {
                @include resetLink;
                color: $red-color;
            }

            li {
                display: grid;
                grid-template-columns: 40px 1fr;
                font-size: 18px;
                color: #fff;
                font-weight: 400;
                margin-bottom: 1rem;
                align-items: center;

                &:first-of-type {
                    display: none;
                }

                span {
                    grid-column: 2/3;
                }

                img {
                    margin-right: 10px;
                    grid-column: 1/2;
                    justify-items: start;
                }
            }
        }
    }

    #right-image {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

@media screen and (max-width: 400px) {
    main {
        display: flex;
        flex-direction: column;

        .heading-content {
            display: none;
        }
        .heading-content-phone {
            display: block;
            h3 {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }
            p {
                color: rgba($color: #fff, $alpha: 0.6);
                font-size: 11px;
                font-weight: 400;

                a {
                    @include resetLink;
                    color: rgba($color: $red-color, $alpha: 0.6);
                    text-decoration: underline;
                }
            }
            margin-bottom: 3rem;
        }

        .content {
            h2 {
                font-size: 24px;
                font-weight: 700;
            }

            ul {
                margin-top: 1rem;
                li {
                    &:first-of-type {
                        display: grid;
                    }
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
        #right-image {
            width: 50%;
            align-self: flex-end;
            margin-right: 2rem;
        }
    }
}
