@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../ressources/background.png");
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .main-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 0 15px;
}

nav .main-headings > [alt="logo"] {
  margin-right: 30px;
  border-radius: 50%;
  width: 61px;
  height: 61 px;
}

nav .main-headings > h3 {
  color: #fff;
  font-weight: 700;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

nav .links a.red-button {
  background-color: #ad1037;
  border-radius: 9px;
  padding: 0.75rem;
}

main {
  margin-top: 20vh;
  margin-left: 25vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

main .heading-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-bottom: 10vh;
}

main .heading-content h3 {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

main .heading-content p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.52);
}

main .heading-content p a {
  color: #fff;
  text-decoration: none;
  color: rgba(209, 52, 91, 0.52);
}

main .content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

main .content h2 {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}

main .content ul {
  list-style: none;
  margin-top: 2rem;
}

main .content ul a {
  color: #fff;
  text-decoration: none;
  color: #d1345b;
}

main .content ul li {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1rem;
}

main .content ul li img {
  margin-right: 10px;
}

main #right-image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
/*# sourceMappingURL=download.css.map */