@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../ressources/background.png");
}

main {
  margin-left: 25vw;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .main-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 0 15px;
}

nav .main-headings > [alt="logo"] {
  margin-right: 30px;
  border-radius: 50%;
  width: 61px;
  height: 61 px;
}

nav .main-headings > a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .links a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

nav .links a.red-button {
  background-color: #ad1037;
  border-radius: 9px;
  padding: 0.75rem;
}

main {
  color: #fff;
}

main h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 5vh;
  margin-top: 10vh;
}

main h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

main p {
  max-width: 50vw;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

main section {
  margin-bottom: 10vh;
}

main section .gameplay-img {
  max-width: 50vw;
}

main section .captioned-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

main section .captioned-image span {
  color: #d1345b;
}

main section#story > p {
  position: relative;
}

main section#story > p::before {
  content: url("../ressources/left-quotes.svg");
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: -1;
}

main section#story > p::after {
  content: url("../ressources/right-quotes.svg");
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: -1;
}
/*# sourceMappingURL=information.css.map */